[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
neovim = "*"
python-dotenv = "*"
revchatgpt = "*"

[dev-packages]
yapf = "*"
isort = "*"

[requires]
python_version = "3.9"
