[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
neovim = "*"
python-dotenv = "*"
revchatgpt = "*"

[dev-packages]
isort = "*"
yapf = "*"

[requires]
python_version = "3.9"
